<!DOCTYPE html>
<html>
<head>
	<title></title>
	<style type="text/css">
		a{
			text-decoration: none;
		}
		label{
			display: inline-block;
			width: 190px;
		}
		div{
			text-align: center;
			background-color: #dedede;
			width: 50%;
			height: 300px;
			margin-left: 25%;
			padding-top: 1%;
			padding-bottom: 1%;
			border-radius: 10px;
		}
		.btn{
			width: 250px;
		}
	</style>
</head>
<body>
	<div>
		<h2>Controle de estoque</h2>
		<a href="/lista"><input type="button" value="Listar Produtos" class="btn"></a><br><br>
		<a href="/lista_ordenada"><input type="button" value="Listar Produtos(Por quantidade)" class="btn"></a><br><br>
		<a href="/cadastrar_produto"><input type="button" value="Cadastrar Produtos" class="btn"></a><br><br>
		<a href="/remocao_produtos"><input type="button" value="Remover Produtos" class="btn"></a><br><br>
		<a href="/lista_compras"><input type="button" value="Gerenciar Compras" class="btn"></a><br><br>
	</div>
</body>
</html>
